<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/nav.ejs') %>

        <div class="container">
            <h1 class="m-2">Perguntas</h1>
            <hr>
            <% perguntas.forEach(e=>{ %>
                <div class="card m-2">
                    <div class="card-body">
                        <h4><p><%= e.titulo %></p></h4>
                    </div>
                    <div class="card-footer">
                        <a href="/pergunta/<%= e.id%>" class="btn btn-primary">Responder</a>
                        <a href="/delete/<%= e.id%>"  class="btn btn-danger">deletar</a>
                    </div>
                </div>
          
            <% }) %>

        </div>

    </body>


    <%- include('partials/footer.ejs') %>
