<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/nav.ejs') %>

        <div class="container">
            <h1 class="m-2">Perguntas</h1>
            <hr>
            <% perguntas.forEach(e=>{ %>
                <div class="card m-2">
                    <div class="card-body">
                        <b>Pergunta:</b><p><%= e.titulo %></p>
                        <b>Descrição:</b><p><%= e.descricao %></p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Responder</button>
                    </div>
                </div>
          
            <% }) %>

        </div>

    </body>


    <%- include('partials/footer.ejs') %>
