<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de perguntas</title>
</head>

<body>
    <h1>Guia Perguntas</h1>
    <hr>
    <h3>Lista de perguntas</h3>
    <h4>
        seu nome
        <%= nome %>
    </h4>
    <p>
        linguagem favorita
        <%= linguagem %>
    </p>
    <p>
        è da empresa
        <%= empresa %>
    </p>

    <% if(exibir == true){ %>
        <h3>É uma mensagem de erro</h3>
        <% }else{ %>
            <h3>Nenhum erro</h3>
            <% } %>

    <h5>Listagem de produtos</h5>
    <ul>
        <% produtos.forEach(e=>{%>
        <li><%= e.nome%></li>
        <li><%= e.preco%></li>
        <% })%>
    </ul>


</body>

</html>