<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/nav.ejs') %>

    <div class="container">
        <div class="card m-5">
            <div class="card-header">
                <h3>Pergunta</h3>
            </div>
            <div class="card-body">
                    <b>Titulo</b><br>
                    <%= pergunta.titulo %><br>
                    <b>Descrição</b><br>
                    <%= pergunta.descricao %><br>
                <form method="post">
                    <h4>Responda</h4>
                    <textarea class="form-control" placeholder="informe sua resposta" name="corpo"></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Responder</button>
                </form>
            </div>
        </div>
        <% respostas.forEach(resposta=>{ %>
            <div class="card m-5">
            
                <div class="card-header">
                    <b><%= resposta.createdAt.toLocaleString("pt-BR") %>:</b>
                </div>

                <div class="card-body">
                    <%= resposta.corpo %>
                </div>
            
            </div>
        <% })%>
    </div>
    </div>

</body>


<%- include('partials/footer.ejs') %>

